@use "colors" as *;

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .profile-page {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        width: 80%;
        height: 50%;
        margin-top: 4rem;
        gap: 3rem;
        img {
            height: 500px;
            min-width: 500px;
            align-self: flex-start;
            object-fit: cover;
        }
        .flex-container {
            flex-direction: column;
            margin: 0 auto;
        }
        h1 {
            font-size: 2.5rem;
            text-align: left;
        }
        .bio {
            font-size: 1.1rem;
          
        }
        .interests {
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            
        }
    }
}

@media only screen and (max-width: 800px) {
    .profile-page {
        flex-direction: column !important;
          }
          .profile-page img {
        display: block;
        margin: 0;
        align-self: flex-start;
        }
}